# Port
PORT=3000

# Running Envoirment
NODE_ENV=development

# Authorization
ACCESS_TOKEN_KEY=AccessTokenStrongPassword
REFRESH_TOKEN_KEY=RefreshTokenStrongPassword

# Database
POSTGRES_USER=User
POSTGRES_PASSWORD=StrongPassword
POSTGRES_DB=Dental
DATABASE_URL=Your_database_url